<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HRVTestator.HRVTestator" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="HRVTestator"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <receiver android:name=".HeartRateReceiver" >
    <intent-filter>
      <action android:name="android.net.HeartRate.HeartRate_STATE_CHANGED" />
    </intent-filter>
  </receiver>
</manifest>

